nav {
  background-color: darkblue;
}

header {
  background-color: darkblue;
}

h2 {
  color: rgba(255, 255, 255, 0.9);
}

h3 {
  color: darkblue;
}

h4 {
  color: darkblue;
}

h5 {
  color: darkblue;
}

p {
  color: darkblue;
}

button, input[type=submit] {
  display: block;
  cursor: pointer;
  color: white;
  background-color: darkblue;
  text-align: center;
  border-radius: 5%;
}
button:hover , input[type=submit]:hover {
  background-color: blue;
}
button:active, input[type=submit]:active {
  background-color: blue;
}

.main-title {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-container {
  display: table;
}

.nav-links-container {
  display: table-cell;
  padding-left: 10px;
}

.nav-link {
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
}

.nav-link:active {
  color: rgba(255, 255, 255, 1);
}

.nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.nav-link:focus {
  border: 1px dashed;
}

.dismiss-button {
  display: inline;
}

.dismiss-button--hidden {
  display: none;
}

.main-component__user-message-paragraph {
  display: inline;
}