nav {
  display: table;
}

.nav-links-container {
  display: table-cell;
  padding-left: 10px;
}

.nav-link {
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle;
}

.dismiss-link {
  cursor: pointer;
  color: blue;
}

.dismiss-link--hidden {
  display: none;
}