nav {
  display: table;
}

.nav-links-container {
  display: table-cell;
  padding-left: 10px;
}

.nav-link {
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle;
  cursor: pointer;
  color: blue;
}

.nav-link:active {
  color: red;
}

.nav-link:visited {
  color: purple;
}

.nav-link:focus {
  border: 1px dashed;
}

.dismiss-link {
  cursor: pointer;
  color: blue;
}

.dismiss-link--hidden {
  display: none;
}